@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --border-radius: 5px;
  --light-color: #ffffff;
  --dark-color: #000000;
  --gray-color: #545454;
  --modal-gray-color: #8c8c8c;
  --orange-color: #ff6b01;
  --ganre-orange-color: #ff6b08;
  --color-error: #ff001b;
  --vote-light-grey-color: #f7f7f7;
  --shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  --animationTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --font-family: "Roboto", sans-serif;
  --font-weight-normal: 400;
  --font-weight-media: 500;
  --background-filter-header: rgba(0, 0, 0, 0.56);
}

.modal-form-registration {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #333333;
  background: linear-gradient(to right, #333333, #dd1818);
  display: block;
  opacity: 1;
  visibility: visible;
}

.modal-form-registration.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.title-wrapper {
  max-width: 500px;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-bottom: 120px;
}

.slider-tv {
  position: relative;
  max-width: 200px;
}

.icon-tv {
  position: absolute;
  fill: aliceblue;
  top: 0;
  left: 0;
}

.form-swiper {
  position: absolute;
  top: 80px;
  left: 12.5%;
}

.form-movies-img {
  border-radius: 10px;
  width: 160px;
  height: 100px;
}

.modal-form-registration_title {
  margin-bottom: 30px;
  color: var(--orange-color);
}

.modal-form-registration_sub-title {
  color: var(--orange-color);
}

.form-registration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}

.man-watch {
  position: absolute;
  bottom: 39%;
  right: 28%;
  display: none;
}

.man-watch.hidden {
  display: block;
}

.icon-watch {
  fill: rgb(246, 244, 243);
}

.form-group-registaration {
  display: flex;
  flex-direction: column;
}

.email-form-title,
.password-form-title {
  display: flex;
  justify-content: start;
  margin-bottom: 5px;
  color: var(--orange-color);
}

.input-password,
.input-email,
.forgoten-password {
  width: 300px;
  height: 30px;
  padding: 10px;
  outline: 2px solid var(--gray-color);
  border: none;
  background-color: transparent;
  color: var(--light-color);
  border-radius: var(--border-radius);
}
.input-password:focus,
.input-email:focus,
.forgoten-password:focus {
  outline: 2px solid var(--orange-color);
  transition: var(--animationTransition);
}

.password-container {
  position: relative;
}

.icon-open {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
  opacity: 1;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
  opacity: 0;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-close.hide {
  opacity: 1;
}

.forgoten-group-registaration {
  display: none;
}

.forgoten-group-registaration.hidden {
  display: block;
}

.forfgot-password {
  color: var(--light-color);
  transition: color var(--animationTransition);
}
.forfgot-password:hover, .forfgot-password:focus {
  color: var(--orange-color);
  outline: none;
}

.forgotten-label {
  display: flex;
  margin-bottom: 5px;
  color: var(--orange-color);
}

.forgotten-container {
  display: flex;
}

.forgoten-password {
  margin-right: 15px;
}

.btn-new-password {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.form-group-registaration-btn {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.social-form-question {
  color: var(--light-color);
}

.button-sign-group {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

@media (min-width: 320px) {
  .modal-form-registration_title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .modal-form-registration_sub-title {
    font-size: 14px;
  }
  .slider-wrapper {
    top: -29%;
    left: 50%;
    transform: perspective(600px) translate(0px, -100%) rotateY(0deg);
  }
  .slider-tv {
    max-width: 200px;
  }
  .icon-tv {
    position: absolute;
    fill: aliceblue;
    top: 0;
    left: 0;
    width: 150px;
    opacity: 0.4;
  }
  .form-swiper {
    position: absolute;
    top: 80px;
    left: 6%;
  }
  .form-movies-img {
    border-radius: 10px;
    width: 127px;
    height: 85px;
  }
  .man-watch.hidden {
    display: none;
  }
  .forgotten-label {
    font-size: 12px;
  }
  .forgoten-password {
    width: 250px;
  }
}
@media (min-width: 768px) {
  .slider-wrapper {
    left: 40%;
  }
}
@media (min-width: 1280px) {
  .modal-form-registration_title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .modal-form-registration_sub-title {
    font-size: 22px;
  }
  .slider-wrapper {
    position: absolute;
    top: 10%;
    left: 23%;
    transform: perspective(600px) translate(0px, -100%) rotateY(45deg);
  }
  .man-watch.hidden {
    display: block;
    opacity: 0.4;
  }
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.lazyload,
.lazyloading {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1000ms;
}

.lazyloaded {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1000ms, opacity 1000ms;
}

.skiptranslate {
  display: none;
  height: 0;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  background: #abbaab;
  background: linear-gradient(to right, #ffffff, #abbaab);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

body.toggle-theme {
  background: #8e0e00;
  background: linear-gradient(to right, #1f1c18, #8e0e00);
}

body.stop-fon {
  overflow: hidden;
}

.scroll-btn-up {
  position: relative;
}

.scroll-btn {
  position: fixed;
  z-index: 15;
  display: none;
  bottom: 40px;
  right: 40px;
  height: 45px;
  padding: 10px;
  background-color: var(--orange-color);
  border-radius: 50%;
  transition: var(--animationTransition);
  opacity: 60%;
}
.scroll-btn:hover {
  opacity: 80%;
  transform: scale(1.3);
}

body.toggle-theme .scroll-btn {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
}

.scroll-btn__svg {
  fill: var(--gray-color);
}

.scroll-btn.shown {
  display: block;
}

.btn-form {
  font-size: 10px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  padding: 5px;
  border: 2px solid var(--gray-color);
  background-color: transparent;
  color: var(--orange-color);
  border-radius: var(--border-radius);
  transition: var(--animationTransition);
  text-transform: uppercase;
}
.btn-form:hover, .btn-form:focus {
  background-color: var(--orange-color);
  border: 2px solid var(--orange-color);
  color: var(--light-color);
}

.whirly-loader__wrapper {
  width: 100%;
  height: 64vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whirly-loader__wrapper.preloader_hidden {
  display: none;
}

div.whirly-loader:not(:required) {
  box-shadow: #ff6b08 0px 26px 0 6px, #ff6b08 0.90971px 26.05079px 0 5.93333px, #ff6b08 1.82297px 26.06967px 0 5.86667px, #ff6b08 2.73865px 26.05647px 0 5.8px, #ff6b08 3.65561px 26.01104px 0 5.73333px, #ff6b08 4.57274px 25.93327px 0 5.66667px, #ff6b08 5.48887px 25.8231px 0 5.6px, #ff6b08 6.40287px 25.68049px 0 5.53333px, #ff6b08 7.31358px 25.50548px 0 5.46667px, #ff6b08 8.21985px 25.2981px 0 5.4px, #ff6b08 9.12054px 25.05847px 0 5.33333px, #ff6b08 10.01448px 24.78672px 0 5.26667px, #ff6b08 10.90054px 24.48302px 0 5.2px, #ff6b08 11.77757px 24.1476px 0 5.13333px, #ff6b08 12.64443px 23.78072px 0 5.06667px, #ff6b08 13.5px 23.38269px 0 5px, #ff6b08 14.34315px 22.95384px 0 4.93333px, #ff6b08 15.17277px 22.49455px 0 4.86667px, #ff6b08 15.98776px 22.00526px 0 4.8px, #ff6b08 16.78704px 21.48643px 0 4.73333px, #ff6b08 17.56953px 20.93855px 0 4.66667px, #ff6b08 18.33418px 20.36217px 0 4.6px, #ff6b08 19.07995px 19.75787px 0 4.53333px, #ff6b08 19.80582px 19.12626px 0 4.46667px, #ff6b08 20.5108px 18.468px 0 4.4px, #ff6b08 21.1939px 17.78379px 0 4.33333px, #ff6b08 21.85416px 17.07434px 0 4.26667px, #ff6b08 22.49067px 16.34043px 0 4.2px, #ff6b08 23.10251px 15.58284px 0 4.13333px, #ff6b08 23.68881px 14.80241px 0 4.06667px, #ff6b08 24.24871px 14px 0 4px, #ff6b08 24.7814px 13.1765px 0 3.93333px, #ff6b08 25.28607px 12.33284px 0 3.86667px, #ff6b08 25.76198px 11.46997px 0 3.8px, #ff6b08 26.2084px 10.58888px 0 3.73333px, #ff6b08 26.62462px 9.69057px 0 3.66667px, #ff6b08 27.01001px 8.77608px 0 3.6px, #ff6b08 27.36392px 7.84648px 0 3.53333px, #ff6b08 27.68577px 6.90284px 0 3.46667px, #ff6b08 27.97502px 5.94627px 0 3.4px, #ff6b08 28.23116px 4.97791px 0 3.33333px, #ff6b08 28.4537px 3.99891px 0 3.26667px, #ff6b08 28.64223px 3.01042px 0 3.2px, #ff6b08 28.79635px 2.01364px 0 3.13333px, #ff6b08 28.91571px 1.00976px 0 3.06667px, #ff6b08 29px 0px 0 3px, #ff6b08 29.04896px -1.01441px 0 2.93333px, #ff6b08 29.06237px -2.03224px 0 2.86667px, #ff6b08 29.04004px -3.05223px 0 2.8px, #ff6b08 28.98185px -4.07313px 0 2.73333px, #ff6b08 28.88769px -5.09368px 0 2.66667px, #ff6b08 28.75754px -6.1126px 0 2.6px, #ff6b08 28.59138px -7.12863px 0 2.53333px, #ff6b08 28.38926px -8.14049px 0 2.46667px, #ff6b08 28.15127px -9.1469px 0 2.4px, #ff6b08 27.87755px -10.1466px 0 2.33333px, #ff6b08 27.56827px -11.1383px 0 2.26667px, #ff6b08 27.22365px -12.12075px 0 2.2px, #ff6b08 26.84398px -13.09268px 0 2.13333px, #ff6b08 26.42956px -14.05285px 0 2.06667px, #ff6b08 25.98076px -15px 0 2px, #ff6b08 25.49798px -15.93291px 0 1.93333px, #ff6b08 24.98167px -16.85035px 0 1.86667px, #ff6b08 24.43231px -17.75111px 0 1.8px, #ff6b08 23.85046px -18.63402px 0 1.73333px, #ff6b08 23.23668px -19.49789px 0 1.66667px, #ff6b08 22.5916px -20.34157px 0 1.6px, #ff6b08 21.91589px -21.16393px 0 1.53333px, #ff6b08 21.21024px -21.96384px 0 1.46667px, #ff6b08 20.4754px -22.74023px 0 1.4px, #ff6b08 19.71215px -23.49203px 0 1.33333px, #ff6b08 18.92133px -24.2182px 0 1.26667px, #ff6b08 18.10379px -24.91772px 0 1.2px, #ff6b08 17.26042px -25.58963px 0 1.13333px, #ff6b08 16.39217px -26.23295px 0 1.06667px, #ff6b08 15.5px -26.84679px 0 1px, #ff6b08 14.58492px -27.43024px 0 0.93333px, #ff6b08 13.64796px -27.98245px 0 0.86667px, #ff6b08 12.69018px -28.50262px 0 0.8px, #ff6b08 11.7127px -28.98995px 0 0.73333px, #ff6b08 10.71663px -29.4437px 0 0.66667px, #ff6b08 9.70313px -29.86317px 0 0.6px, #ff6b08 8.67339px -30.2477px 0 0.53333px, #ff6b08 7.6286px -30.59666px 0 0.46667px, #ff6b08 6.57001px -30.90946px 0 0.4px, #ff6b08 5.49886px -31.18558px 0 0.33333px, #ff6b08 4.41643px -31.42451px 0 0.26667px, #ff6b08 3.32401px -31.6258px 0 0.2px, #ff6b08 2.22291px -31.78904px 0 0.13333px, #ff6b08 1.11446px -31.91388px 0 0.06667px, #ff6b08 0px -32px 0 0px, #ff6b08 -1.11911px -32.04713px 0 -0.06667px, #ff6b08 -2.24151px -32.05506px 0 -0.13333px, #ff6b08 -3.36582px -32.02361px 0 -0.2px, #ff6b08 -4.49065px -31.95265px 0 -0.26667px, #ff6b08 -5.61462px -31.84212px 0 -0.33333px, #ff6b08 -6.73634px -31.69198px 0 -0.4px, #ff6b08 -7.8544px -31.50227px 0 -0.46667px, #ff6b08 -8.9674px -31.27305px 0 -0.53333px, #ff6b08 -10.07395px -31.00444px 0 -0.6px, #ff6b08 -11.17266px -30.69663px 0 -0.66667px, #ff6b08 -12.26212px -30.34982px 0 -0.73333px, #ff6b08 -13.34096px -29.96429px 0 -0.8px, #ff6b08 -14.4078px -29.54036px 0 -0.86667px, #ff6b08 -15.46126px -29.07841px 0 -0.93333px, #ff6b08 -16.5px -28.57884px 0 -1px, #ff6b08 -17.52266px -28.04212px 0 -1.06667px, #ff6b08 -18.52792px -27.46878px 0 -1.13333px, #ff6b08 -19.51447px -26.85936px 0 -1.2px, #ff6b08 -20.48101px -26.21449px 0 -1.26667px, #ff6b08 -21.42625px -25.53481px 0 -1.33333px, #ff6b08 -22.34896px -24.82104px 0 -1.4px, #ff6b08 -23.2479px -24.07391px 0 -1.46667px, #ff6b08 -24.12186px -23.29421px 0 -1.53333px, #ff6b08 -24.96967px -22.48279px 0 -1.6px, #ff6b08 -25.79016px -21.64052px 0 -1.66667px, #ff6b08 -26.58223px -20.76831px 0 -1.73333px, #ff6b08 -27.34477px -19.86714px 0 -1.8px, #ff6b08 -28.07674px -18.938px 0 -1.86667px, #ff6b08 -28.7771px -17.98193px 0 -1.93333px, #ff6b08 -29.44486px -17px 0 -2px, #ff6b08 -30.07908px -15.99333px 0 -2.06667px, #ff6b08 -30.67884px -14.96307px 0 -2.13333px, #ff6b08 -31.24325px -13.91039px 0 -2.2px, #ff6b08 -31.7715px -12.83652px 0 -2.26667px, #ff6b08 -32.26278px -11.74269px 0 -2.33333px, #ff6b08 -32.71634px -10.63018px 0 -2.4px, #ff6b08 -33.13149px -9.5003px 0 -2.46667px, #ff6b08 -33.50755px -8.35437px 0 -2.53333px, #ff6b08 -33.84391px -7.19374px 0 -2.6px, #ff6b08 -34.14px -6.0198px 0 -2.66667px, #ff6b08 -34.39531px -4.83395px 0 -2.73333px, #ff6b08 -34.60936px -3.63759px 0 -2.8px, #ff6b08 -34.78173px -2.43218px 0 -2.86667px, #ff6b08 -34.91205px -1.21916px 0 -2.93333px, #ff6b08 -35px 0px 0 -3px, #ff6b08 -35.04531px 1.22381px 0 -3.06667px, #ff6b08 -35.04775px 2.45078px 0 -3.13333px, #ff6b08 -35.00717px 3.6794px 0 -3.2px, #ff6b08 -34.92345px 4.90817px 0 -3.26667px, #ff6b08 -34.79654px 6.13557px 0 -3.33333px, #ff6b08 -34.62643px 7.36007px 0 -3.4px, #ff6b08 -34.41316px 8.58016px 0 -3.46667px, #ff6b08 -34.15683px 9.79431px 0 -3.53333px, #ff6b08 -33.85761px 11.001px 0 -3.6px, #ff6b08 -33.5157px 12.19872px 0 -3.66667px, #ff6b08 -33.13137px 13.38594px 0 -3.73333px, #ff6b08 -32.70493px 14.56117px 0 -3.8px, #ff6b08 -32.23675px 15.72291px 0 -3.86667px, #ff6b08 -31.72725px 16.86968px 0 -3.93333px, #ff6b08 -31.17691px 18px 0 -4px, #ff6b08 -30.58627px 19.11242px 0 -4.06667px, #ff6b08 -29.95589px 20.2055px 0 -4.13333px, #ff6b08 -29.28642px 21.27783px 0 -4.2px, #ff6b08 -28.57852px 22.32799px 0 -4.26667px, #ff6b08 -27.83295px 23.35462px 0 -4.33333px, #ff6b08 -27.05047px 24.35635px 0 -4.4px, #ff6b08 -26.23192px 25.33188px 0 -4.46667px, #ff6b08 -25.37819px 26.27988px 0 -4.53333px, #ff6b08 -24.49018px 27.1991px 0 -4.6px, #ff6b08 -23.56888px 28.0883px 0 -4.66667px, #ff6b08 -22.6153px 28.94626px 0 -4.73333px, #ff6b08 -21.6305px 29.77183px 0 -4.8px, #ff6b08 -20.61558px 30.56385px 0 -4.86667px, #ff6b08 -19.57168px 31.32124px 0 -4.93333px, #ff6b08 -18.5px 32.04294px 0 -5px, #ff6b08 -17.40175px 32.72792px 0 -5.06667px, #ff6b08 -16.27818px 33.37522px 0 -5.13333px, #ff6b08 -15.1306px 33.98389px 0 -5.2px, #ff6b08 -13.96034px 34.55305px 0 -5.26667px, #ff6b08 -12.76875px 35.08186px 0 -5.33333px, #ff6b08 -11.55724px 35.56951px 0 -5.4px, #ff6b08 -10.32721px 36.01527px 0 -5.46667px, #ff6b08 -9.08014px 36.41843px 0 -5.53333px, #ff6b08 -7.81748px 36.77835px 0 -5.6px, #ff6b08 -6.54075px 37.09443px 0 -5.66667px, #ff6b08 -5.25147px 37.36612px 0 -5.73333px, #ff6b08 -3.95118px 37.59293px 0 -5.8px, #ff6b08 -2.64145px 37.77443px 0 -5.86667px, #ff6b08 -1.32385px 37.91023px 0 -5.93333px;
}
@-webkit-keyframes whirly-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes whirly-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.whirly-loader:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 100%;
  box-shadow: #e66 0px 26px 0 6px, #e66 0.90971px 26.05079px 0 5.93333px, #e66 1.82297px 26.06967px 0 5.86667px, #e66 2.73865px 26.05647px 0 5.8px, #e66 3.65561px 26.01104px 0 5.73333px, #e66 4.57274px 25.93327px 0 5.66667px, #e66 5.48887px 25.8231px 0 5.6px, #e66 6.40287px 25.68049px 0 5.53333px, #e66 7.31358px 25.50548px 0 5.46667px, #e66 8.21985px 25.2981px 0 5.4px, #e66 9.12054px 25.05847px 0 5.33333px, #e66 10.01448px 24.78672px 0 5.26667px, #e66 10.90054px 24.48302px 0 5.2px, #e66 11.77757px 24.1476px 0 5.13333px, #e66 12.64443px 23.78072px 0 5.06667px, #e66 13.5px 23.38269px 0 5px, #e66 14.34315px 22.95384px 0 4.93333px, #e66 15.17277px 22.49455px 0 4.86667px, #e66 15.98776px 22.00526px 0 4.8px, #e66 16.78704px 21.48643px 0 4.73333px, #e66 17.56953px 20.93855px 0 4.66667px, #e66 18.33418px 20.36217px 0 4.6px, #e66 19.07995px 19.75787px 0 4.53333px, #e66 19.80582px 19.12626px 0 4.46667px, #e66 20.5108px 18.468px 0 4.4px, #e66 21.1939px 17.78379px 0 4.33333px, #e66 21.85416px 17.07434px 0 4.26667px, #e66 22.49067px 16.34043px 0 4.2px, #e66 23.10251px 15.58284px 0 4.13333px, #e66 23.68881px 14.80241px 0 4.06667px, #e66 24.24871px 14px 0 4px, #e66 24.7814px 13.1765px 0 3.93333px, #e66 25.28607px 12.33284px 0 3.86667px, #e66 25.76198px 11.46997px 0 3.8px, #e66 26.2084px 10.58888px 0 3.73333px, #e66 26.62462px 9.69057px 0 3.66667px, #e66 27.01001px 8.77608px 0 3.6px, #e66 27.36392px 7.84648px 0 3.53333px, #e66 27.68577px 6.90284px 0 3.46667px, #e66 27.97502px 5.94627px 0 3.4px, #e66 28.23116px 4.97791px 0 3.33333px, #e66 28.4537px 3.99891px 0 3.26667px, #e66 28.64223px 3.01042px 0 3.2px, #e66 28.79635px 2.01364px 0 3.13333px, #e66 28.91571px 1.00976px 0 3.06667px, #e66 29px 0px 0 3px, #e66 29.04896px -1.01441px 0 2.93333px, #e66 29.06237px -2.03224px 0 2.86667px, #e66 29.04004px -3.05223px 0 2.8px, #e66 28.98185px -4.07313px 0 2.73333px, #e66 28.88769px -5.09368px 0 2.66667px, #e66 28.75754px -6.1126px 0 2.6px, #e66 28.59138px -7.12863px 0 2.53333px, #e66 28.38926px -8.14049px 0 2.46667px, #e66 28.15127px -9.1469px 0 2.4px, #e66 27.87755px -10.1466px 0 2.33333px, #e66 27.56827px -11.1383px 0 2.26667px, #e66 27.22365px -12.12075px 0 2.2px, #e66 26.84398px -13.09268px 0 2.13333px, #e66 26.42956px -14.05285px 0 2.06667px, #e66 25.98076px -15px 0 2px, #e66 25.49798px -15.93291px 0 1.93333px, #e66 24.98167px -16.85035px 0 1.86667px, #e66 24.43231px -17.75111px 0 1.8px, #e66 23.85046px -18.63402px 0 1.73333px, #e66 23.23668px -19.49789px 0 1.66667px, #e66 22.5916px -20.34157px 0 1.6px, #e66 21.91589px -21.16393px 0 1.53333px, #e66 21.21024px -21.96384px 0 1.46667px, #e66 20.4754px -22.74023px 0 1.4px, #e66 19.71215px -23.49203px 0 1.33333px, #e66 18.92133px -24.2182px 0 1.26667px, #e66 18.10379px -24.91772px 0 1.2px, #e66 17.26042px -25.58963px 0 1.13333px, #e66 16.39217px -26.23295px 0 1.06667px, #e66 15.5px -26.84679px 0 1px, #e66 14.58492px -27.43024px 0 0.93333px, #e66 13.64796px -27.98245px 0 0.86667px, #e66 12.69018px -28.50262px 0 0.8px, #e66 11.7127px -28.98995px 0 0.73333px, #e66 10.71663px -29.4437px 0 0.66667px, #e66 9.70313px -29.86317px 0 0.6px, #e66 8.67339px -30.2477px 0 0.53333px, #e66 7.6286px -30.59666px 0 0.46667px, #e66 6.57001px -30.90946px 0 0.4px, #e66 5.49886px -31.18558px 0 0.33333px, #e66 4.41643px -31.42451px 0 0.26667px, #e66 3.32401px -31.6258px 0 0.2px, #e66 2.22291px -31.78904px 0 0.13333px, #e66 1.11446px -31.91388px 0 0.06667px, #e66 0px -32px 0 0px, #e66 -1.11911px -32.04713px 0 -0.06667px, #e66 -2.24151px -32.05506px 0 -0.13333px, #e66 -3.36582px -32.02361px 0 -0.2px, #e66 -4.49065px -31.95265px 0 -0.26667px, #e66 -5.61462px -31.84212px 0 -0.33333px, #e66 -6.73634px -31.69198px 0 -0.4px, #e66 -7.8544px -31.50227px 0 -0.46667px, #e66 -8.9674px -31.27305px 0 -0.53333px, #e66 -10.07395px -31.00444px 0 -0.6px, #e66 -11.17266px -30.69663px 0 -0.66667px, #e66 -12.26212px -30.34982px 0 -0.73333px, #e66 -13.34096px -29.96429px 0 -0.8px, #e66 -14.4078px -29.54036px 0 -0.86667px, #e66 -15.46126px -29.07841px 0 -0.93333px, #e66 -16.5px -28.57884px 0 -1px, #e66 -17.52266px -28.04212px 0 -1.06667px, #e66 -18.52792px -27.46878px 0 -1.13333px, #e66 -19.51447px -26.85936px 0 -1.2px, #e66 -20.48101px -26.21449px 0 -1.26667px, #e66 -21.42625px -25.53481px 0 -1.33333px, #e66 -22.34896px -24.82104px 0 -1.4px, #e66 -23.2479px -24.07391px 0 -1.46667px, #e66 -24.12186px -23.29421px 0 -1.53333px, #e66 -24.96967px -22.48279px 0 -1.6px, #e66 -25.79016px -21.64052px 0 -1.66667px, #e66 -26.58223px -20.76831px 0 -1.73333px, #e66 -27.34477px -19.86714px 0 -1.8px, #e66 -28.07674px -18.938px 0 -1.86667px, #e66 -28.7771px -17.98193px 0 -1.93333px, #e66 -29.44486px -17px 0 -2px, #e66 -30.07908px -15.99333px 0 -2.06667px, #e66 -30.67884px -14.96307px 0 -2.13333px, #e66 -31.24325px -13.91039px 0 -2.2px, #e66 -31.7715px -12.83652px 0 -2.26667px, #e66 -32.26278px -11.74269px 0 -2.33333px, #e66 -32.71634px -10.63018px 0 -2.4px, #e66 -33.13149px -9.5003px 0 -2.46667px, #e66 -33.50755px -8.35437px 0 -2.53333px, #e66 -33.84391px -7.19374px 0 -2.6px, #e66 -34.14px -6.0198px 0 -2.66667px, #e66 -34.39531px -4.83395px 0 -2.73333px, #e66 -34.60936px -3.63759px 0 -2.8px, #e66 -34.78173px -2.43218px 0 -2.86667px, #e66 -34.91205px -1.21916px 0 -2.93333px, #e66 -35px 0px 0 -3px, #e66 -35.04531px 1.22381px 0 -3.06667px, #e66 -35.04775px 2.45078px 0 -3.13333px, #e66 -35.00717px 3.6794px 0 -3.2px, #e66 -34.92345px 4.90817px 0 -3.26667px, #e66 -34.79654px 6.13557px 0 -3.33333px, #e66 -34.62643px 7.36007px 0 -3.4px, #e66 -34.41316px 8.58016px 0 -3.46667px, #e66 -34.15683px 9.79431px 0 -3.53333px, #e66 -33.85761px 11.001px 0 -3.6px, #e66 -33.5157px 12.19872px 0 -3.66667px, #e66 -33.13137px 13.38594px 0 -3.73333px, #e66 -32.70493px 14.56117px 0 -3.8px, #e66 -32.23675px 15.72291px 0 -3.86667px, #e66 -31.72725px 16.86968px 0 -3.93333px, #e66 -31.17691px 18px 0 -4px, #e66 -30.58627px 19.11242px 0 -4.06667px, #e66 -29.95589px 20.2055px 0 -4.13333px, #e66 -29.28642px 21.27783px 0 -4.2px, #e66 -28.57852px 22.32799px 0 -4.26667px, #e66 -27.83295px 23.35462px 0 -4.33333px, #e66 -27.05047px 24.35635px 0 -4.4px, #e66 -26.23192px 25.33188px 0 -4.46667px, #e66 -25.37819px 26.27988px 0 -4.53333px, #e66 -24.49018px 27.1991px 0 -4.6px, #e66 -23.56888px 28.0883px 0 -4.66667px, #e66 -22.6153px 28.94626px 0 -4.73333px, #e66 -21.6305px 29.77183px 0 -4.8px, #e66 -20.61558px 30.56385px 0 -4.86667px, #e66 -19.57168px 31.32124px 0 -4.93333px, #e66 -18.5px 32.04294px 0 -5px, #e66 -17.40175px 32.72792px 0 -5.06667px, #e66 -16.27818px 33.37522px 0 -5.13333px, #e66 -15.1306px 33.98389px 0 -5.2px, #e66 -13.96034px 34.55305px 0 -5.26667px, #e66 -12.76875px 35.08186px 0 -5.33333px, #e66 -11.55724px 35.56951px 0 -5.4px, #e66 -10.32721px 36.01527px 0 -5.46667px, #e66 -9.08014px 36.41843px 0 -5.53333px, #e66 -7.81748px 36.77835px 0 -5.6px, #e66 -6.54075px 37.09443px 0 -5.66667px, #e66 -5.25147px 37.36612px 0 -5.73333px, #e66 -3.95118px 37.59293px 0 -5.8px, #e66 -2.64145px 37.77443px 0 -5.86667px, #e66 -1.32385px 37.91023px 0 -5.93333px;
  -webkit-animation: whirly-loader 1.25s infinite linear;
  animation: whirly-loader 1.25s infinite linear;
  transform-origin: 50% 50%;
}

.theme-btn {
  display: flex;
  width: 30px;
  background: #2a2c2d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.theme-btn button {
  color: #000000;
  background: #0060df;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}
.switch:focus {
  transform: scale(1.1);
  outline: none;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.3);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: rgba(204, 204, 204, 0.3);
}

input:checked + .slider:before {
  transform: translateX(20px);
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(247, 249, 249, 0.99);
}

body.toggle-theme .slider.round:before {
  box-shadow: 0 0 10px 7px rgba(238, 4, 4, 0.7);
}

.header {
  position: relative;
  background-image: url("../images/main-header/sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to right, var(--background-filter-header), var(--background-filter-header)), url("../images/main-header/sm@2x.jpg");
  }
}

body.toggle-theme .header {
  box-shadow: 0 3px 5px 5px rgba(255, 255, 255, 0.1);
}

.logo {
  color: #fffbd5;
}

body.toggle-theme .logo {
  color: brown;
}

.logo-text {
  display: none;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.info-user {
  display: flex;
}

.info-usrer-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.info-user-name,
.info-user-email {
  font-family: var(--font-family);
  font-weight: var(--font-weight-media);
  font-size: 8px;
  line-height: 1.25;
  color: var(--light-color);
}

body.toggle-theme .info-user-name,
body.toggle-theme .info-user-email {
  color: brown;
  background: #fffbd5;
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.utils-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.btn-log-out {
  width: 54px;
  height: 24px;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid var(--light-color);
  font-size: 8px;
  line-height: 1.25;
  cursor: pointer;
  color: var(--light-color);
  font-weight: var(--font-weight-media);
  transition: var(--animationTransition);
}
.btn-log-out:hover, .btn-log-out:focus {
  background-color: var(--orange-color);
  border: none;
}

body.toggle-theme .btn-log-out {
  border: 1px solid brown;
}
body.toggle-theme .btn-log-out:hover, body.toggle-theme .btn-log-out:focus {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
  border: none;
}

.header-nav-list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.header-nav-link {
  position: relative;
  font-family: var(--font-family);
  font-weight: var(--font-weight-media);
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--light-color);
  text-transform: uppercase;
}
.header-nav-link:hover, .header-nav-link:focus {
  color: var(--orange-color);
}

.header-nav-link.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--color-error);
  border-radius: 2px;
}

body.toggle-theme .header-nav-link {
  background: #fffbd5;
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper-language {
  width: 54px;
  height: 24px;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid var(--light-color);
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: var(--light-color);
  font-weight: var(--font-weight-media);
  transition: transform 0.3s;
}
.wrapper-language:hover, .wrapper-language:focus {
  background-color: var(--orange-color);
  border: none;
}

.language {
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  background-color: rgba(13, 13, 13, 0.3);
  position: absolute;
  top: 100%;
  left: 0;
  transform: perspective(600px) translate(0px, -50%) rotateX(45deg) scale(0);
  pointer-events: none;
  transition: all 0.4s;
  color: rgb(247, 242, 242);
}

.language.shows {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg) scale(1);
  pointer-events: painted;
}

.item-language {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s;
}
.item-language:hover {
  transform: scale(1.02);
}

.language.shows {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg) scale(1);
  pointer-events: painted;
}

.item-language:not(:last-child) {
  margin-bottom: 5px;
}

body.toggle-theme .item-language {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
  outline: none;
}

body.toggle-theme .wrapper-language {
  border: 1px solid brown;
}
body.toggle-theme .wrapper-language:hover, body.toggle-theme .wrapper-language:focus {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
  border: none;
}

@media (min-width: 768px) {
  .header {
    background-image: linear-gradient(to top, var(--background-filter-header), var(--background-filter-header)), url("../images/main-header/md.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to right, var(--background-filter-header), var(--background-filter-header)), url("../images/main-header/md@2x.jpg");
  }
}
@media (min-width: 768px) {
  .logo {
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-media);
    font-size: 30px;
    line-height: 1.1666666667;
    fill: currentColor;
    transition: var(--animationTransition);
  }
  .logo:hover, .logo:focus {
    color: var(--orange-color);
  }
}
@media (min-width: 768px) {
  body.toggle-theme .logo {
    color: brown;
    background: #fffbd5;
    background: linear-gradient(to right, #b20a2c, #fffbd5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media (min-width: 768px) {
  .icon-film {
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .logo-text {
    display: inline-flex;
  }
}
@media (min-width: 768px) {
  .info-user-name,
.info-user-email {
    font-family: var(--font-family);
    font-weight: var(--font-weight-media);
    font-size: 11px;
    line-height: 1.0909090909;
    color: var(--light-color);
  }
}
@media (min-width: 768px) {
  body.toggle-theme .info-user-name,
body.toggle-theme .info-user-email {
    color: brown;
  }
}
@media (min-width: 768px) {
  .header-nav-list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 1280px) {
  .header {
    background-image: linear-gradient(to right, var(--background-filter-header), var(--background-filter-header)), url("../images/main-header/lg.jpg");
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to right, var(--background-filter-header), var(--background-filter-header)), url("../images/main-header/lg@2x.jpg");
  }
}
@media (min-width: 1280px) {
  .header-nav-list {
    display: flex;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
.utils-wrapper-form {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 20px;
}

.header-form {
  display: flex;
  justify-content: center;
}

.header-input-wrapper {
  position: relative;
  display: inline-block;
}
.header-input-wrapper.hidden {
  display: none;
}

.header-input {
  min-width: 280px;
  font-size: 14px;
  font-size: 16px;
  line-height: 0.875;
  color: var(--light-color);
  background-color: transparent;
  border: none;
  outline: transparent;
  border-bottom: 0.5px solid var(--light-color);
}
.header-input::-moz-placeholder {
  font-weight: 14px;
  font-size: 16px;
  line-height: 0.875;
  color: var(--light-color);
}
.header-input:-ms-input-placeholder {
  font-weight: 14px;
  font-size: 16px;
  line-height: 0.875;
  color: var(--light-color);
}
.header-input::placeholder {
  font-weight: 14px;
  font-size: 16px;
  line-height: 0.875;
  color: var(--light-color);
}
@media screen and (min-width: 768px) {
  .header-input {
    min-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .header-input {
    min-width: 394px;
  }
}

body.toggle-theme .header-input {
  border-bottom: 0.5px solid brown;
}

body.toggle-theme .header-input::-moz-placeholder {
  font-weight: 14px;
  font-size: 16px;
  line-height: 0.875;
  color: brown;
  background: #fffbd5;
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.toggle-theme .header-input:-ms-input-placeholder {
  font-weight: 14px;
  font-size: 16px;
  line-height: 0.875;
  color: brown;
  background: #fffbd5;
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.toggle-theme .header-input::placeholder {
  font-weight: 14px;
  font-size: 16px;
  line-height: 0.875;
  color: brown;
  background: #fffbd5;
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

.header-input-info {
  position: absolute;
  right: 0;
  bottom: -55px;
}
@media screen and (min-width: 768px) {
  .header-input-info {
    bottom: -45px;
  }
}
@media screen and (min-width: 1280px) {
  .header-input-info {
    bottom: -35px;
  }
}

.genres-button {
  width: 140px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
  border: none;
  background-color: transparent;
  border: 1px solid var(--light-color);
  font-size: 12px;
  line-height: 1.3333333333;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--orange-color);
  font-weight: var(--font-weight-media);
}
.genres-button:hover, .genres-button:focus {
  color: var(--light-color);
  background-color: var(--orange-color);
  border: none;
}

body.toggle-theme .genres-button {
  border: 1px solid brown;
  color: brown;
}
body.toggle-theme .genres-button:hover, body.toggle-theme .genres-button:focus {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
  border: none;
  color: var(--light-color);
}

.wrapper-language {
  width: 54px;
  height: 24px;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid var(--light-color);
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: var(--light-color);
  font-weight: var(--font-weight-media);
  transition: transform 0.3s;
}
.wrapper-language:hover, .wrapper-language:focus {
  background-color: var(--orange-color);
  outline: none;
}

body.toggle-theme .wrapper-language {
  border: 1px solid brown;
}
body.toggle-theme .wrapper-language:hover, body.toggle-theme .wrapper-language:focus {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
  border: none;
}

.language {
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  background-color: rgba(13, 13, 13, 0.3);
  position: absolute;
  top: 100%;
  left: 0;
  transform: perspective(600px) translate(0px, -50%) rotateX(45deg) scale(0);
  pointer-events: none;
  transition: all 0.4s;
  color: rgb(247, 242, 242);
}

.language.shows {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg) scale(1);
  pointer-events: painted;
}

.item-language {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s;
}
.item-language:hover {
  transform: scale(1.02);
}

body.toggle-theme .item-language {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
  border: none;
}

.language.shows {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg) scale(1);
  pointer-events: painted;
}

.item-language:not(:last-child) {
  margin-bottom: 5px;
}

.gallery,
.gallery-Queue {
  display: block;
  margin-bottom: -30px;
}
@media screen and (min-width: 320px) {
  .gallery,
.gallery-Queue {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery,
.gallery-Queue {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

.movie {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .movie {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

.poster-wrapper {
  overflow: hidden;
}

.movie-card__poster:hover {
  transform: scale(1.1);
}

.movie-card__item {
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.movie-card__item:hover {
  filter: saturate(165%);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movie-card__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    width: 294px;
  }
}
@media screen and (min-width: 1024px) {
  .movie-card__item {
    flex-basis: calc(33.3333333333% - 30px);
    margin-left: 30px;
    width: 274px;
  }
}
.movie-card__item:hover {
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  cursor: pointer;
}
.movie-card__item:hover .poster-wrapper {
  opacity: 0.9;
}

.card-info {
  padding: 10px 5px 10px 5px;
}
@media screen and (min-width: 768px) {
  .card-info {
    padding-top: 8px;
  }
}

.movie-info-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .movie-info-title {
    line-height: 1.33;
  }
}

.info-item-year {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--ganre-orange-color);
}

.info-item-year::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--ganre-orange-color);
}

.info-item-rating {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 30px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: var(--ganre-orange-color);
  color: var(--light-color);
}

.rating-icon {
  color: gold;
}

.watched-delete {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  background-color: var(--ganre-orange-color);
  background-image: url(../images/icons8-multiply-48.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.library-container {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 3px #ff0000;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  background: #ada996;
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s, opacity 1s;
}

footer.hiden-footer {
  opacity: 0;
  transform: translateX(-100%);
}

body.toggle-theme footer {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
}

.footer__team-link {
  color: #545454;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

@media screen and (min-width: 320px) {
  .copyright {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 10px;
  }
  .developers {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .page__footer {
    font-size: 14px;
    font-weight: 400;
  }
}
.footer-icon {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .page__footer {
    display: flex;
    justify-content: center;
  }
  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .developers {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page__footer {
    font-size: 16px;
    font-weight: 400;
  }
}
.wrapper-iframe {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-iframe iframe {
  border-width: 2px;
  border-style: inset;
  border-color: rgba(192, 72, 72, 0.8);
}
@media screen and (min-width: 768px) {
  .wrapper-iframe iframe {
    width: 650px;
    height: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper-iframe iframe {
    width: 1100px;
    height: 750px;
  }
}

.modal {
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
@media screen and (max-width: 767px) {
  .modal {
    height: 100vh;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px 36px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    padding: 40px 12px;
    max-width: 806px;
  }
}

body.toggle-theme .modal {
  background: #8e0e00;
  background: linear-gradient(to right, #1f1c18, #8e0e00);
}

.modal-wrapper {
  width: 240px;
}
@media screen and (min-width: 768px) {
  .modal-wrapper {
    display: flex;
    width: 632px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 782px;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .img-container {
    margin-right: 68px;
  }
}
@media screen and (min-width: 1200px) {
  .img-container {
    max-width: 375px;
    margin-right: 16px;
  }
}

@media screen and (min-width: 320px) {
  .modal-img {
    width: 240px;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .modal-img {
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-img {
    width: 375px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .modal-info {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-info {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.modal-title {
  margin: 20px auto;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: var(--dark-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal-table {
  margin-bottom: 20px;
}

.modal-table__string {
  display: block;
  margin-bottom: 8px;
}

.modal-table__descr,
.modal-table__value,
.modal-review {
  font-weight: 500;
  font-size: 12px;
}

.modal-table__descr {
  width: 108px;
  text-align: start;
  line-height: 1.3;
  color: var(--modal-gray-color);
}
@media screen and (min-width: 1200px) {
  .modal-table__descr {
    width: 151px;
  }
}

.modal-table__value {
  line-height: 1.16;
}

.modal-table__vote-count {
  border-radius: 5px;
  padding: 1px 9px;
  background-color: var(--vote-light-grey-color);
}

.modal-table__value-avr {
  border-radius: 5px;
  padding: 1px 9px;
  background-color: var(--orange-color);
  color: var(--light-color);
}

.modal-review__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--dark-color);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.modal-review {
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--dark-color);
}

.modal-btn-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .modal-btn-wrapper {
    width: 287px;
  }
}

.modal-btn__watched,
.modal-btn__queue {
  width: 136px;
  height: 44px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  background-color: transparent;
  outline: 1px solid black;
  transition: var(--animationTransition);
}
.modal-btn__watched:hover, .modal-btn__watched:focus,
.modal-btn__queue:hover,
.modal-btn__queue:focus {
  background-color: var(--orange-color);
  color: var(--light-color);
  outline: none;
}
@media screen and (min-width: 768px) {
  .modal-btn__watched,
.modal-btn__queue {
    width: 125px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-btn__watched,
.modal-btn__queue {
    width: 136px;
  }
}

body.toggle-theme .modal-btn__watched,
body.toggle-theme .modal-btn__queue {
  background-color: transparent;
  outline: 1px solid brown;
}
body.toggle-theme .modal-btn__watched:hover, body.toggle-theme .modal-btn__watched:focus,
body.toggle-theme .modal-btn__queue:hover,
body.toggle-theme .modal-btn__queue:focus {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
  color: var(--light-color);
  outline: none;
}

.modal-btn__close {
  position: absolute;
  display: block;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  background-color: var(--light-color);
  background-image: url(../images/icons8-close-24.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;
}

.modal-btn__close:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.img-container__trailer {
  width: 100%;
  position: relative;
}

.img-overlay__trailer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  display: flex;
  opacity: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  background: #c04848;
  background: linear-gradient(rgba(72, 0, 72, 0.8), rgba(192, 72, 72, 0.8));
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity var(--animationTransition);
}
.img-overlay__trailer:hover, .img-overlay__trailer:focus {
  opacity: 1;
  transition: opacity var(--animationTransition);
}

.modal-btn__trailer {
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0.8em;
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: var(--animationTransition);
}
.modal-btn__trailer:hover, .modal-btn__trailer:focus {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-color: currentColor;
}

body.toggle-theme .modal-btn__trailer {
  border: solid 1px brown;
  background: linear-gradient(to right, #eb5757, #000000);
}
body.toggle-theme .modal-btn__trailer:hover, body.toggle-theme .modal-btn__trailer:focus {
  color: var(--dark-color);
  background: #eb5757;
}

#genres {
  padding: 2em 1.5em;
  background-color: var(--orange-color);
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  display: none;
  margin: 0 auto 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

body.toggle-theme #genres {
  background: #eb5757;
  background: linear-gradient(to right, #eb5757, #000000);
}

#genres p {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.genre-list {
  margin: 0 0;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.genre-item {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  outline: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.genre-item:hover {
  background-color: #000;
  outline: 1px solid #000;
}

body.toggle-theme .genre-item:hover {
  background: #8e0e00;
  background: linear-gradient(to right, #1f1c18, #8e0e00);
}

@media screen and (min-width: 320px) {
  .genre-list {
    flex-direction: column;
  }
  .genre-item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .genre-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .genre-item {
    flex-basis: calc((100% - 10px) / 6);
  }
}
.skiptranslate {
  display: none;
  height: 0;
}

.language__img {
  cursor: pointer;
}

.cont-lang {
  position: relative;
}

.team-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.team-modal__backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.team-modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  align-items: center;
  background: #e8cbc0;
  background: linear-gradient(to bottom, #636fa4, #e8cbc0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow-y: scroll;
  padding: 23px;
  max-height: 90%;
}

.modal__close-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
}

.team-list__img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.team-list__item {
  padding: 5px;
  text-align: center;
}

.team-list__item:hover .team-list__name,
.team-list__item:focus .team-list__name {
  color: #e76000;
}

.team-list__item .team-list__img:nth-of-type(2) {
  display: none;
}

.team-list__item:hover .team-list__img:nth-of-type(1) {
  display: none;
}

.team-list__item:hover .team-list__img:nth-of-type(2) {
  display: block;
}

.team-modal__title {
  font-size: 26px;
  text-align: center;
  padding-bottom: 15px;
  color: #e8cbc0;
  text-shadow: 1px 1px 2px rgb(229, 109, 109), 0 0 1em rgb(24, 24, 244), 0 0 0.2em;
}

.team-list__name {
  font-size: 19px;
  color: #2d3248;
}

.modal__close-icon {
  fill: #4c5168;
  height: 50px;
  width: 50px;
}

.team-list__info {
  font-size: 16px;
  line-height: 1.25;
  color: #51556a;
  text-shadow: 0px 0px 34px rgba(254, 254, 254, 0.73);
}

@media screen and (min-width: 480px) {
  .team-modal__wrapper {
    max-width: 400px;
    margin-top: 0;
  }
  .modal__close-btn {
    top: 10px;
    right: 12px;
  }
}
@media screen and (min-width: 767px) {
  .team-modal__wrapper {
    min-width: 0;
    max-width: 500px;
    padding: 20px;
  }
  .team-list {
    gap: 15px;
  }
  .team-list__img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .team-modal__wrapper {
    max-width: 700px;
    padding: 30px;
  }
  .team-list__img {
    width: 110px;
    height: 110px;
  }
  .team-modal__title {
    padding-bottom: 20px;
    font-size: 40px;
  }
  .team-list {
    gap: 25px;
  }
  .modal__close-btn {
    top: 15px;
    right: 17px;
    width: 30px;
    height: 30px;
  }
}
.wrapper-iframe {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-iframe iframe {
  border-width: 2px;
  border-style: inset;
  border-color: rgba(192, 72, 72, 0.8);
}
@media screen and (min-width: 768px) {
  .wrapper-iframe iframe {
    width: 650px;
    height: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper-iframe iframe {
    width: 1100px;
    height: 750px;
  }
}/*# sourceMappingURL=index.css.map */