<div class='team-modal'>
    <div class='team-modal__wrapper'>
            <h1 class='team-modal__title'>Heroes of the project</h1>
<ul class="team-list">
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/2.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Dmytriy</h1>
        <p class="team-list__info">Team Lead</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/9.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Olena</h1>
        <p class="team-list__info">info Info</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/6.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Katja</h1>
        <p class="team-list__info">info Info</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/8.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Alex</h1>
        <p class="team-list__info">info Info</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/1.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Alyona</h1>
        <p class="team-list__info">info Info</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/5.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Vanya</h1>
        <p class="team-list__info">info Info</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/4.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Margo</h1>
        <p class="team-list__info">info Info</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/5.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Vanya</h1>
        <p class="team-list__info">info Info</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/7.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Svitlana</h1>
        <p class="team-list__info">info Info</p>
    </li>
    <li class="team-list__item">
        <img class="team-list__img" src="../images/teams-fotos/3.jpg" alt="Teams photo" width="20">
        <h2 class="team-list__name">Yuriy</h1>
        <p class="team-list__info">info Info</p>
    </li>
</ul>
  </div>
</div>
