<footer>
    <div class="container">
        <div class="page__footer">
            <p class="copyright">&copy; 2023 | All Rights Reserved |&nbsp;</p>
            <div class="developers">
                <p>Developed with</p>
                <svg class="heart heart-beat" width="20" height="20">
                    <use xlink:href="./images/sprite.svg#icon-love"></use>
                </svg>
                <p class="footer__team">by <a href="#"
                        class="footer__team-link">GoIT Students</a> </p>
            </div>
        </div>
    </div>
</footer>
