<div class="container">
    <ul class='genre-list'>
        <li class='genre-item' data-id="28">Action</li>
        <li class='genre-item' data-id="12">Adventure</li>
        <li class='genre-item' data-id="16">Animation</li>
        <li class='genre-item' data-id="35">Comedy</li>
        <li class='genre-item' data-id="80">Crime</li>
        <li class='genre-item' data-id="99">Documentary</li>
        <li class='genre-item' data-id="18">Drama</li>
        <li class='genre-item' data-id="10751">Family</li>
        <li class='genre-item' data-id="14">Fantasy</li>
        <li class='genre-item' data-id="36">History</li>
        <li class='genre-item' data-id="27">Horror</li>
        <li class='genre-item' data-id="10402">Music</li>
        <li class='genre-item' data-id="9648">Mystery</li>
        <li class='genre-item' data-id="10749">Romance</li>
        <li class='genre-item' data-id="878">Science Fiction</li>
        <li class='genre-item' data-id="10770">TV Movie</li>
        <li class='genre-item' data-id="53">Thriller</li>
        <li class='genre-item' data-id="10752">War</li>
        <li class='genre-item' data-id="37">Western</li>
        <li class='genre-item genre-item--choose-all'>Choose All</li>
    </ul>
</div>