<div class="container">
    <div class="info-user-container"></div>
    <button class="btn-log-out" type="button">log out</button>
</div>
<!-- location -->
<div class="cont-lang">
    <div class="wrapper-language" tabindex="2">
        <p>Choose language</p>
    </div>
    <ul class="language">
        <li class="item-language" data-google-lang="en">english <img
                src="./images/gb.svg" alt="en" data-google-lang="en"
                width="22"
                height="15"></li>
        <li class="item-language" data-google-lang="de">deuthch <img
                src="./images/de.svg" alt="de" data-google-lang="de"
                width="22" height="15"></li>
        <li class="item-language" data-google-lang="es">espanio <img
                src="./images/es.svg" alt="es" data-google-lang="es"
                width="22" height="15"></li>
        <li class="item-language" data-google-lang="uk">ukraine <img
                src="./images/ua.svg" alt="uk" data-google-lang="uk"
                width="22" height="15"></li>
    </ul>
</div>
<!--  -->