<header class="header-library">
    <div class="container">
        <div class="nav-wrapper">
            <a class="logo" href="./index.html"> <svg class="icon-film"
                    width="24" height="24">
                    <use xlink:href="./images/sprite.svg#icon-film"></use>
                </svg><span class="logo-text">Filmoteka</span></a>
            <div class="info-user-container"></div>

            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="./index.html">Home</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="./library.html">My
                            library</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="utils-wrapper">
            <button class="btn-log-out" type="button">log out</button>
            <!-- кнопка переключения темы -->
            <div class="theme-btn">
                <label id="switch" class="switch" tabindex="1">
                    <input type="checkbox" class="switcher-toggle" id="slider"
                        />
                    <span class="slider round"></span>
                </label>
            </div>
            <!--  -->
            <!-- location -->
            <div class="cont-lang">
                <div class="wrapper-language" tabindex="2">
                    <p>Choose language</p>
                </div>
                <ul class="language">
                    <li class="item-language" data-google-lang="en">english
                        <img src="./images/gb.svg" alt="en"
                            data-google-lang="en"
                            width="12" height="10">
                    </li>
                    <li class="item-language" data-google-lang="de">deuthch
                        <img src="./images/de.svg" alt="de"
                            data-google-lang="de"
                            width="12" height="10">
                    </li>
                    <li class="item-language" data-google-lang="es">espanio
                        <img src="./images/es.svg" alt="es"
                            data-google-lang="es"
                            width="12" height="10">
                    </li>
                    <li class="item-language" data-google-lang="uk">ukraine
                        <img src="./images/ua.svg" alt="uk"
                            data-google-lang="uk"
                            width="12" height="10">
                    </li>
                </ul>
            </div>
            <!--  -->
        </div>
        <div class="btn-group-gallery">
            <button class="watched" type="button">watched</button>
            <button class="queue" type="button">queue</button>
        </div>
    </div>
</header>