 <div class="modal-form-registration">
    <div class="title-wrapper">
        <h1 class="modal-form-registration_title">Welcome to the Filmoteka
            app!</h1>
        <h2 class="modal-form-registration_sub-title">Sign up or log in for
            further
            use of the resource
        </h2>
    </div>
    <form class="form-registration">
        <div class="slider-wrapper">
            <div class="slider-tv">
                <svg class="icon-tv" width="210" height="210">
                    <use xlink:href="./images/sprite.svg#icon-television"></use>
                </svg>
                <div class="swiper form-swiper">
                    <ul class="swiper-wrapper form-movies-list">
                        <li class='swiper-slide form-movies-item'><img
                                class="form-movies-img"
                                src="./images/form-slider/Movies_Actor_Jason_Statham_in_Human_Wrath__2021_149856_29.jpg"
                                alt="monie-pictures" width="130"></li>
                        <li class='swiper-slide form-movies-item'><img
                                class="form-movies-img"
                                src="./images/form-slider/Movies_Bright_characters_of_the_new_movie_Fast_and_Furious_9__2021_146604_29.jpg"
                                alt="monie-pictures" width="130"></li>
                        <li class='swiper-slide form-movies-item'><img
                                class="form-movies-img"
                                src="./images/form-slider/Movies_Godzilla_character_in_the_new_movie_Godzilla_vs._Kong__2021_149916_29.jpg"
                                alt="monie-pictures" width="130"></li>
                        <li class='swiper-slide form-movies-item'><img
                                class="form-movies-img"
                                src="./images/form-slider/Movies_Neo_s_character_in_the_new_The_Matrix_Resurrection_movie__2021_153859_29.jpg"
                                alt="monie-pictures" width="130"></li>
                        <li class='swiper-slide form-movies-item'><img
                                class="form-movies-img"
                                src="./images/form-slider/Movies_Poster_with_the_protagonists_of_the_film_Justice_League_by_Zach_Snyder__2021_153235_29.jpg"
                                alt="monie-pictures" width="130"></li>
                        <li class='swiper-slide form-movies-item'><img
                                class="form-movies-img"
                                src="./images/form-slider/Movies_The_main_characters_of_the_film_The_Bodyguard_of_the_Killer_s_Wife__2021_150284_29.jpg"
                                alt="monie-pictures" width="130"></li>
                        <li class='swiper-slide form-movies-item'><img
                                class="form-movies-img"
                                src="./images/form-slider/Movies_Vivid_poster_of_the_movie_Terminator_Genisys_153055_29.jpg"
                                alt="monie-pictures" width="130"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="man-watch">
            <svg class="icon-watch" width="130" height="130">
                <use xlink:href="./images/sprite.svg#icon-man-watch"></use>
            </svg>
        </div>
        <!-- input email -->
        <div class="form-group-registaration">
            <label class="email-form-title" for="email">Email</label>
            <input class="input-email" type="email"
                name="email"
                id="email"
                autocomplete="on">
        </div>
        <!-- input password -->
        <div class="form-group-registaration">
            <label class="password-form-title" for="password">Password</label>
            <div class="password-container">
                <input class="input-password" type="password"
                    name="password"
                    id="password" data-lengt='4'
                    autocomplete="on">
                <div class="icon-wrapper">
                    <img class="icon-open"
                        src="./images/open-eyes.png" alt="open-eyes">
                    <img class="icon-close"
                        src="./images/close-eyes.png" alt="close-eyes">
                </div>
            </div>
        </div>
        <!-- forgotten password link -->
        <div class="forfgot-password-container">
            <a class="forfgot-password" href="#">Forgot your password?</a>
        </div>
        <!-- forgotten input /reset password -->
        <div class="forgoten-group-registaration">
            <label class="forgotten-label" for="forgotten-password">Enter
                the
                email address you provided during registration</label>
            <div class="forgotten-container">
                <input class="forgoten-password" type="email"
                    id="forgotten-password"
                    autocomplete="on"
                    name="email-forgot">
                <button class="btn-form btn-new-password" type="submit"
                    value=""
                    id='submit'>Reset Pasword</button>
            </div>
        </div>
        <!-- registration and log in btn -->
        <div class="form-group-registaration-btn">
            <button class="btn-form registration-btn" type="submit"
                name="registr">Registration</button>
            <button class="btn-form log-in-btn" type="submit" name="log-in">Log
                In</button>
        </div>
        <!-- social log in -->
        <p class="social-form-question">Login with social networks</p>
        <div class="button-sign-group">
            <button class="btn-form log-by-google-btn" type="submit"
                name="google">Google</button>
            <button class="btn-form log-by-github-btn" type="submit"
                name="github">GitHub</button>
            <button class="btn-form log-by-facebook-btn" type="submit"
                name="facebook">Facebook</button>
        </div>
    </form>
</div>
