<div class="modal-form-registration">
    <div class="title-wrapper">
        <h1 class="modal-form-registration_title">Welcome to the Filmoteka app!</h1>
        <h2 class="modal-form-registration_sub-title">Sign up or log in for
            further
            use of the resource
        </h2>
    </div>
    <form class="form-registration">
        <!-- input email -->
        <div class="form-group-registaration">
            <label class="email-form-title" for="email">Email</label>
            <input class="input-email" type="email"
                name="email"
                id="email"
                autocomplete="on">
        </div>
        <!-- input password -->
        <div class="form-group-registaration">
            <label class="password-form-title" for="password">Password</label>
            <div class="password-container">
                <input class="input-password" type="password"
                    name="password"
                    id="password" data-lengt='4'
                    autocomplete="on">
                <div class="icon-wrapper">
                    <img class="icon-open"
                        src="./images/open-eyes.png" alt="open-eyes">
                    <img class="icon-close"
                        src="./images/close-eyes.png" alt="close-eyes">
                </div>
            </div>
        </div>
        <!-- forgotten password link -->
        <div class="forfgot-password-container">
            <a class="forfgot-password" href="#">Forgot your password?</a>
        </div>
        <!-- forgotten input /reset password -->
        <div class="forgoten-group-registaration">
            <label class="forgotten-label" for="forgotten-password">Enter the
                email address you provided during registration</label>
            <div class="forgotten-container">
                <input class="forgoten-password" type="email"
                    id="forgotten-password"
                    autocomplete="on"
                    name="email-forgot">
                <button class="btn-form btn-new-password" type="submit" value=""
                    id='submit'>Reset Pasword</button>
            </div>
        </div>
        <!-- registration and log in btn -->
        <div class="form-group-registaration-btn">
            <button class="btn-form registration-btn" type="submit"
                name="registr">Registration</button>
            <button class="btn-form log-in-btn" type="submit" name="log-in">Log
                In</button>
        </div>
        <!-- social log in -->
        <p class="social-form-question">Login with social networks</p>
        <div class="button-sign-group">
            <button class="btn-form log-by-google-btn" type="submit"
                name="google">Google</button>
            <button class="btn-form log-by-github-btn" type="submit"
                name="github">GitHub</button>
            <button class="btn-form log-by-facebook-btn" type="submit"
                name="facebook">Facebook</button>
        </div>
    </form>
</div>