<div class='team-modal is-hidden'>
    <!-- <canvas></canvas> -->
    <div class="team-modal__backdrop"></div>
    <div class='team-modal__wrapper'>
        <button type="button" class="modal__close-btn" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/sprite.svg#close-black-18dp"></use>
            </svg>
        </button>
        <h1 class='team-modal__title'>Heroes of the project</h1>
        <ul class="team-list">
            <li class="team-list__item">
                <a href="https://github.com/DmitriyUshkvarok">
                <img class="team-list__img" src="./images/team-photos/2.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">
                <h2 class="team-list__name">Dmytriy</h1>
                <p class="team-list__info">Team Lead</p>
            </a>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/Olena-Vozniuk">
                <img class="team-list__img" src="./images/team-photos/9.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">
                <h2 class="team-list__name">Olena</h1>
                <p class="team-list__info">Scrum Master</p>
                </a>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/Kate-Panchenko">
                <img class="team-list__img" src="./images/team-photos/6.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Katja</h1>
                <p class="team-list__info">Developer</p>
                </a>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/LuckyGuy9545">
                <img class="team-list__img" src="./images/team-photos/8.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Alex</h1>
                <p class="team-list__info">Developer</p>
                </a>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/Alona1366">
                <img class="team-list__img" src="./images/team-photos/1.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Alyona</h1>
                <p class="team-list__info">Developer</p>
                </a>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/ivan1908">
                <img class="team-list__img" src="./images/team-photos/5.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Vanya</h1>
                <p class="team-list__info">Developer</p>
                </a>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/MargoOgram">
                <img class="team-list__img" src="./images/team-photos/4.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Margo</h1>
                <p class="team-list__info">Developer</p>
                </a>
            </li>
            <li class="team-list__item">
                <img class="team-list__img" src="./images/team-photos/7.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Svitlana</h1>
                <p class="team-list__info">Developer</p>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/HorbovyiY">
                <img class="team-list__img" src="./images/team-photos/3.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Yuriy</h1>
                <p class="team-list__info">Developer</p>
                </a>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/DanyloKharkiv">
                <img class="team-list__img" src="./images/team-photos/10.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Danylo</h1>
                <p class="team-list__info">Developer</p>
                </a>
            </li>
            <li class="team-list__item">
                <a href="https://github.com/nmosula">
                <img class="team-list__img" src="./images/team-photos/11.jpeg"
                    alt="Teams photo">
                <img class="team-list__img" src="./images/team-photos/github.jpg"
                    alt="Teams photo">    
                <h2 class="team-list__name">Nazar</h1>
                <p class="team-list__info">Developer</p>
                </a>
            </li>
        </ul>
    </div>
</div>
