.scroll-btn-up {
  position: relative;
}

.scroll-btn {
  position: fixed;
  z-index: 15;
  display: none;
  bottom: 40px;
  right: 40px;
  height: 45px;
  padding: 10px;
  background-color: var(--orange-color);
  border-radius: 50%;
  transition: var(--animationTransition);
  opacity: 60%;

  &:hover {
    opacity: 80%;
    transform: scale(1.3);
  }
}

body.toggle-theme .scroll-btn {
  background: #eb5757;
  background: -webkit-linear-gradient(to right, #eb5757, #000000);
  background: linear-gradient(to right, #eb5757, #000000);
}

.scroll-btn__svg {
  fill: var(--gray-color);
}

.scroll-btn.shown {
  display: block;
}
