.js-show-genres {
    cursor: pointer;
}

.genre-list {
    display: flex;
    width: 100%;
    display: none;
}

.genre-item {
    padding: 5px 10px;
    cursor: pointer;

    align-items: center;
    justify-content: center;

        &:not(:last-child) {
                margin-right: 8px;
            }
}

.genre-item:hover {
    color: var(--orange-color);
}