.modal {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  border-radius: 10px;
}

.img-container {
  max-width: 50%;
}

.modal-img {
  width: 100%;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.modal-wrapper {
  display: flex;
}

.modal-info {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
