.modal {
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;

  @media screen and (max-width: 767px) {
    height: 100vh;
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) {
    padding: 40px 36px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px 12px;
    max-width: 806px;
  }
}

body.toggle-theme .modal {
  background: #8e0e00;
  background: -webkit-linear-gradient(to right, #1f1c18, #8e0e00);
  background: linear-gradient(to right, #1f1c18, #8e0e00);
}

//== контейнери
.modal-wrapper {
  width: 240px;

  @media screen and(min-width: 768px) {
    display: flex;
    width: 632px;
  }
  @media screen and (min-width: 1200px) {
    width: 782px;
    display: flex;
  }
}

.img-container {
  @media screen and (min-width: 768px) {
    margin-right: 68px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 375px;
    margin-right: 16px;
  }
}

.modal-img {
  @media screen and (min-width: 320px) {
    width: 240px;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1280px) {
    width: 375px;
    cursor: pointer;
  }
}

.modal-info {
  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

//== Title
.modal-title {
  margin: 20px auto;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: var(--dark-color);

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

//== таблиця:
.modal-table {
  margin-bottom: 20px;
}

.modal-table__string {
  display: block;
  margin-bottom: 8px;
}

.modal-table__descr,
.modal-table__value,
.modal-review {
  font-weight: 500;
  font-size: 12px;
}

.modal-table__descr {
  width: 108px;
  text-align: start;
  line-height: 1.3;
  color: var(--modal-gray-color);

  @media screen and(min-width:1200px) {
    width: 151px;
  }
}

.modal-table__value {
  line-height: 1.16;
}

//== рейтинг фільмів
.modal-table__vote-count {
  border-radius: 5px;
  padding: 1px 9px;
  background-color: var(--vote-light-grey-color);
}

.modal-table__value-avr {
  border-radius: 5px;
  padding: 1px 9px;
  background-color: var(--orange-color);
  color: var(--light-color);
}

//== Опис фільму
.modal-review__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--dark-color);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.modal-review {
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--dark-color);
}

//== buttons
.modal-btn-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    width: 287px;
  }
}
.modal-btn__watched,
.modal-btn__queue {
  width: 136px;
  height: 44px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  background-color: transparent;
  outline: 1px solid black;
  transition: var(--animationTransition);

  &:hover,
  &:focus {
    background-color: var(--orange-color);
    color: var(--light-color);
    outline: none;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1200px) {
    width: 136px;
  }
}

body.toggle-theme .modal-btn__watched,
body.toggle-theme .modal-btn__queue {
  background-color: transparent;
  outline: 1px solid brown;

  &:hover,
  &:focus {
    background: #eb5757;
    background: -webkit-linear-gradient(to right, #eb5757, #000000);
    background: linear-gradient(to right, #eb5757, #000000);
    color: var(--light-color);
    outline: none;
  }
}

//== клавіша закриття модалки
.modal-btn__close {
  position: absolute;
  display: block;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  background-color: var(--light-color);
  background-image: url(../images/icons8-close-24.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;
}

.modal-btn__close:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
