.skiptranslate {
  display: none;
  height: 0;
}

.language__img {
  cursor: pointer;
}

.cont-lang {
  position: relative;
  // z-index: 50;
}

// .wrapper-language {
//   width: 24px;
//   height: 24px;
//   border-radius: var(--border-radius);
//   border: none;
//   background-color: var(--orange-color);
//   @include font(8px, 10px);
//   cursor: pointer;
//   color: var(--light-color);
//   font-weight: var(--font-weight-media);
//   transition: transform 0.3s;

//   &:hover,
//   &:focus {
//     transform: scale(1.1);
//   }
// }

.language {
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  background-color: rgba(13, 13, 13, 0.3);
  position: absolute;
  top: 100%;
  left: 0;
  transform: perspective(600px) translate(0px, -50%) rotateX(45deg) scale(0);
  pointer-events: none;
  transition: all 0.4s;
  color: gold;
  text-shadow: 0 0 1px rgba(6, 230, 246);
}

.language.shows {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg) scale(1);
  pointer-events: painted;
}

.item-language {
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: rgba(9, 137, 235, 0.7);
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}

.item-language:not(:last-child) {
  margin-bottom: 5px;
}
