.gallery,
.gallery-Queue {
  display: block;
  margin-bottom: -30px;

  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

.movie {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

.poster-wrapper {
  overflow: hidden;
}

.movie-card__poster {
  &:hover {
    transform: scale(1.1);
  }
}

.movie-card__item {
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    filter: saturate(165%);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    width: 294px;
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    width: 274px;
  }

  &:hover {
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    cursor: pointer;

    & .poster-wrapper {
      opacity: 0.9;
    }
  }
}
body.toggle-theme .movie-card__item:hover {
  box-shadow: 0px 8px 43px rgb(252, 3, 3, 0.6);
}

.card-info {
  padding: 10px 5px 10px 5px;

  @media screen and (min-width: 768px) {
    padding-top: 8px;
  }
}

.movie-info-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 2px;

  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }
}

body.toggle-theme .movie-info-title {
  text-shadow: -1px 1px 10px red;
  color: var(--ganre-orange-color);
}

.info-item-year {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--ganre-orange-color);
}

.info-item-genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--ganre-orange-color);
}

.info-item-year::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--ganre-orange-color);
}
.info-wrapper {
  display: flex;
  align-items: center;
}

.info-item-rating {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 30px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: var(--ganre-orange-color);
  color: var(--light-color);
}

.rating-icon {
  color: gold;
}

.watched-delete {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  background-color: var(--ganre-orange-color);
  background-image: url(../images/icons8-multiply-48.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

//== Стилль параграфа коли немає фільмів
.library-container {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 3px #ff0000;
}

body.toggle-theme .info-item-genre {
  text-shadow: -1px 1px 10px red;
  color: var(--light-color);
}
