.header-library {
  position: relative;
  background-image: url('../images/library-header/sm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  margin-bottom: 60px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--background-filter-header),
        var(--background-filter-header)
      ),
      url('../images/library-header/sm@2x.jpg');
  }
}

body.toggle-theme .header-library {
  box-shadow: 0 3px 5px 5px rgb(255, 255, 255, 0.1);
}

.logo {
  color: #fffbd5;
}

body.toggle-theme .logo {
  color: brown;
}

.logo-text {
  display: none;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.info-user {
  display: flex;
}

.info-usrer-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.info-user-name,
.info-user-email {
  font-family: var(--font-family);
  font-weight: var(--font-weight-media);
  @include font(8px, 10px);
  color: var(--light-color);
}

body.toggle-theme .info-user-name,
body.toggle-theme .info-user-email {
  color: brown;
  background: #fffbd5;
  background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.utils-wrapper {
  margin-bottom: 30px;
  @include flexCenter();
  column-gap: 50px;
}

.btn-log-out {
  width: 54px;
  height: 24px;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid var(--light-color);
  @include font(8px, 10px);
  cursor: pointer;
  color: var(--light-color);
  font-weight: var(--font-weight-media);
  transition: var(--animationTransition);

  &:hover,
  &:focus {
    background-color: var(--orange-color);
    border: none;
  }
}

body.toggle-theme .btn-log-out {
  border: 1px solid brown;

  &:hover,
  &:focus {
    background: #eb5757;
    background: -webkit-linear-gradient(to right, #eb5757, #000000);
    background: linear-gradient(to right, #eb5757, #000000);
    // background-color: var(--orange-color);
    border: none;
  }
}

.header-nav-list {
  display: flex;
  column-gap: 10px;
}

.header-nav-link {
  position: relative;
  font-family: var(--font-family);
  font-weight: var(--font-weight-media);
  @include font(12px, 14px);
  color: var(--light-color);
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--orange-color);
  }
}

.header-nav-link.current {
  &::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--color-error);
    border-radius: 2px;
  }
}

body.toggle-theme .header-nav-link {
  // color: brown;
  background: #fffbd5;
  background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);
  background: linear-gradient(to right, #b20a2c, #fffbd5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-group-gallery {
  @include flexCenter();
  column-gap: 20px;
  padding-bottom: 60px;
}

.watched,
.queue {
  width: 130px;
  height: 50px;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: var(--font-weight-media);
  @include font(12px, 16px);
  color: var(--light-color);
  @include flexCenter();
  border: 1px solid var(--light-color);
  background-color: transparent;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  transition: var(--animationTransition);

  &:hover,
  &:focus {
    background-color: var(--orange-color);
    border: none;
  }
}

body.toggle-theme .watched,
body.toggle-theme .queue {
  border: 1px solid brown;

  &:hover,
  &:focus {
    background: #eb5757;
    background: -webkit-linear-gradient(to right, #eb5757, #000000);
    background: linear-gradient(to right, #eb5757, #000000);
    border: none;
  }
}

.wrapper-language {
  width: 54px;
  height: 24px;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid var(--light-color);
  @include font(8px, 10px);
  @include flexCenter();
  text-align: center;
  cursor: pointer;
  color: var(--light-color);
  font-weight: var(--font-weight-media);
  transition: transform 0.3s;

  &:hover,
  &:focus {
    background-color: var(--orange-color);
    border: none;
  }
}

.language {
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  background-color: rgba(13, 13, 13, 0.3);
  position: absolute;
  top: 100%;
  left: 0;
  transform: perspective(600px) translate(0px, -50%) rotateX(45deg) scale(0);
  pointer-events: none;
  transition: all 0.4s;
  color: rgb(247, 242, 242);
}

.language.shows {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg) scale(1);
  pointer-events: painted;
}

.item-language {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}

.language.shows {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg) scale(1);
  pointer-events: painted;
}

.item-language:not(:last-child) {
  margin-bottom: 5px;
}

body.toggle-theme .item-language {
  background: #eb5757;
  background: -webkit-linear-gradient(to right, #eb5757, #000000);
  background: linear-gradient(to right, #eb5757, #000000);
  border: none;
}

body.toggle-theme .wrapper-language {
  border: 1px solid brown;

  &:hover,
  &:focus {
    background: #eb5757;
    background: -webkit-linear-gradient(to right, #eb5757, #000000);
    background: linear-gradient(to right, #eb5757, #000000);
    border: none;
  }
}

@media (min-width: 768px) {
  .header-library {
    background-image: linear-gradient(
        to top,
        var(--background-filter-header),
        var(--background-filter-header)
      ),
      url('../images/library-header/md.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-filter-header),
          var(--background-filter-header)
        ),
        url('../images/library-header/md@2x.jpg');
    }
  }

  .logo {
    color: var(--light-color);
    @include flexCenter();
    font-family: var(--font-family);
    font-weight: var(--font-weight-media);
    @include font(30px, 35px);
    fill: currentColor;
    transition: var(--animationTransition);

    &:hover,
    &:focus {
      color: var(--orange-color);
    }
  }

  body.toggle-theme .logo {
    color: brown;
    background: #fffbd5;
    background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);
    background: linear-gradient(to right, #b20a2c, #fffbd5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-film {
    margin-right: 10px;
  }

  .logo-text {
    display: inline-flex;
  }

  .info-user-name,
  .info-user-email {
    font-family: var(--font-family);
    font-weight: var(--font-weight-media);
    @include font(11px, 12px);
    color: var(--light-color);
  }

  body.toggle-theme .info-user-name,
  body.toggle-theme .info-user-email {
    color: brown;
  }

  .btn-group-gallery {
    column-gap: 32px;
  }

  .watched,
  .queue {
    width: 152px;
  }

  .header-nav-list {
    display: flex;
    column-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .header-library {
    background-image: linear-gradient(
        to right,
        var(--background-filter-header),
        var(--background-filter-header)
      ),
      url('../images/library-header/lg.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-filter-header),
          var(--background-filter-header)
        ),
        url('../images/library-header/lg.jpg');
    }
  }

  .header-nav-list {
    display: flex;
    column-gap: 40px;
  }
}
